.main-container {
    position: absolute;
    
}

.rocket {
    /* top: 250px;
    left: 58px; */
}

.banner {
    width: 1133px;
}

@media only screen and (max-width: 1233px) {
    .banner {
        width: 100%;
    }
}

@media only screen and (min-width: 1001px) {
    .rocket {
        width: 200px;
        /* margin-bottom: 0; */
    }
}

@media only screen and (max-width: 1000px) and (min-width: 951px) {
    .rocket {
        width: 190px;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 950px) and (min-width: 901px) {
    .rocket {
        width: 180px;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 900px) and (min-width: 851px) {
    .rocket {
        width: 170px;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 850px) and (min-width: 801px) {
    .rocket {
        width: 160px;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 800px) and (min-width: 751px) {
    .rocket {
        width: 150px;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 750px) and (min-width: 701px) {
    .rocket {
        width: 140px;
        margin-bottom: 0;
    }
}


@media only screen and (max-width: 700px) and (min-width: 651px) {
    .rocket {
        width: 130px;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 650px) and (min-width: 601px) {
    .rocket {
        width: 120px;
        margin-bottom: 0;
    }
}


@media only screen and (max-width: 600px) and (min-width: 551px) {
    .rocket {
        width: 110px;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 550px) and (min-width: 501px) {
    .rocket {
        width: 100px;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 500px) and (min-width: 451px) {
    .rocket {
        width: 90px;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 450px) and (min-width: 401px) {
    .rocket {
        width: 80px;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 400px) and (min-width: 351px) {
    .rocket {
        width: 70px;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 350px) {
    .rocket {
        width: 60px;
        margin-bottom: 0;
    }
}