.search::placeholder {
  color: black;
}

.appFilters {
    background: #BD7DFB;
    border: 2px solid #7D0EF9;
}


@media only screen and (max-width: 767px) {
  .dropdowns {
    font-size: 10px;
  }

  .search {
    font-size: 10px;
  }

  .items {
    font-size: 12px;
  }

  .filter-item {
    font-size: 10px;
  }

}

@media only screen and (max-width: 360px) {
  .filters-wrapper {
    flex-wrap: wrap;
  }
}
